@import "../../assets/scss/global.scss";

.navbar-container {
  padding: 10px;
  background-color: #fff;
  width: 100wv;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
  .logo {
    svg {
      margin-right: 5px;
      color: $clr1;
    }
  }
  .navbar-content {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      margin: 10px;
      li {
        margin: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
